body {
  background-color: Turquoise;
}

h1 {
  color: purple;
  margin-left: 20px;
}


  .dot {
  height: 1800px;
  width: 1800px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;

}
